<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\css\index.css">
    <title>Document</title>
</head>
<body>
    <div id="film">
        <h1> MovieTime!</h1>
    </div>

    <h2> Welcome! Join MovieTime to experience your movies in a new light. Get ready to rate, comment, and like your recent movies. Keep track of all your thoughts!</h2>
    <div class="container">
        <div class="slider"></div>
        <div class="btn">
            <button class="signup">Register</button>
            <button class="login">Login</button>
            <!-- <button class="signup">Signup</button> -->
        </div>
        <div class="form-section">
            <!-- <div > -->
                <form id="registration">
                    <p> Enter your information so we can get you started</p>
                    {% with messages = get_flashed_messages(category_filter=['register']) %}
                        {% if messages %}
                        <div class="alert alert-danger" role="alert">                                                   
                            {% for message in messages %}
                            <p>{{message}}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                    {% endwith %}
                    <label for="first_name"> First Name:</label>
                    <input type="text" placeholder="first name" name="first_name">
                    <label for="last_name"> Last Name:</label>
                    <input type="text" placeholder="last name" name="last_name">
                    <label for="username"> Username: </label>
                    <input type="text" placeholder="username" name="username">
                    <label for="email"> Email: </label>
                    <input type="text" placeholder="email" name="email">
                    <label for="password"> Password: </label>
                    <input type="password" id="password"placeholder="password" name="password">
                    <label for="c-password"> Confirm your password:</label>
                    <input type="password" id="confirm" placeholder="Confirm Password">
                    <button type="submit"> Register</button>
                </form>
            <!-- </div> -->
            <!-- <div> -->
                <form id="login">
                    <p> Login </p>
                    <label for="email"> Email:</label>
                    <input type="text" placeholder="email" name="email">
                    <label for="password"> Password: </label>
                    <input type="password" placeholder="password" name="password">
                </form>
            <!-- </div> -->
        </div>
    </div>
    <div id="film">
    </div>
    <script src="../static/javascript/index.js"></script>
</body>
</html>