<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\css\movie.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <div id="title">
            <h2> MovieTime </h2>
            <img src="\static\images\popcorn.png">
            <!-- <a href="https://www.flaticon.com/free-icons/popcorn" title="popcorn icons">Popcorn icons created by Freepik - Flaticon</a> -->
        </div>
        <div id="tabs">
            <a href="/profile" > Profile </a>
            <a href=""> Categories </a>
            <a href="/logout"> Logout </a>
            <input type="text" placeholder="Search..">
            <button href="">
                <img class="mag-glass" src="\static\images\loupe.png">
            </button>
        </div>
    </nav>
</body>
</html>